@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.NavItems {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 $padding-default * 1.5;
    margin: $margin-default * 1.5 0;

    li {
        display: inline-block;
        width: 100%;
        
        @include media-min-width($desktop-width) {
            margin-bottom: 0;
            margin-left: 2rem;
            width: auto;
        }
    }

    @include media-min-width($desktop-width) {
        flex-flow: row;
    }
}

.Wide {
    width: 100%;
}

.Left {
    text-align: left;
}

.Right {
    text-align: right;
}

.Center {
    text-align: center;
}
