@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.NavItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $toolbar-height;
    height: 100%;
  }
}

.Wide {
  width: 100%;
}

.Left {
  text-align: left;
}

.Right {
  text-align: right;
}

.Center {
  text-align: center;
}
