@mixin media-min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin media-min-height($height) {
  @media (min-height: $height) {
    @content;
  }
}

@mixin loading {
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin fadeIn {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin slide-y($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      transform: translateY($from);
    }
    100% {
      transform: translateY($to);
    }
  }
}

@mixin slide-x($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      transform: translateX($from);
    }
    100% {
      transform: translateX($to);
    }
  }
}
