// Media Widths
$desktop-width: 40rem;

// Transitions
$transition-function-card: cubic-bezier(0.4, 0, 0.17, 1.28);
$transition-function: cubic-bezier(0.4, 0.0, 0.2, 1);
$transition-duration: 0.3s;
$transition-card: $transition-duration $transition-function-card;
$transition: $transition-duration $transition-function;

// Padding
$padding: 1rem;
$padding-tiny: 0.2rem;

// Border
$border-input: 1px solid #ccc;
$border-radius-input: 2px;
$border-radius-button: 4px;
$border-radius-card: 6px;

// Margin
$margin: 1rem;

// Box Shadow
$box-shadow: 0px 3px 6px -2px #aaa;

// Font
$font-size: 1rem;

// Height
$height: 1rem;

// Width
$width: 1rem;

// Color
$main-color: lightsalmon;
$light-main-color: lighten(lightsalmon, 10%);

// Toolbar
$toolbar-width: 4.2rem;
