@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Thumbnail {
  display: flex;
  justify-self: center;
  align-self: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: $transition1;
  user-select: none;
  box-shadow: $box-shadow;
  border-radius: $border-radius-button;
  overflow: hidden;
  margin: $margin 0;
  cursor: pointer;
}

.ThumbnailImgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ThumbnailInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: $border-radius-button / 2;
  color: $md-white;
  padding: $padding-tiny;
  font-size: $font-size;
  opacity: 1;
  transition: $transition1;

  &:hover {
    opacity: 1;
  }

  @include media-min-width($desktop-width) {
    h5 {
      font-size: $font-size * 1.3;
    }
  }

  h6 {
    margin: 0;

    &:nth-child(2) {
      margin: $margin / 2 0;
    }
  }
}
