@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.NearByContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  box-shadow: $box-shadow-card;

  @include media-min-width($desktop-width) {
    width: 66.6%;
  }

  .NearBy {
    width: 100%;
  }

  .NearByHeader {
    display: flex;
    align-items: center;
    padding: $padding;

    h4,
    p {
      margin: 0;
    }

    .NearByRefresh {
      margin-left: $margin;
    }
  }
}

.NearByRestaurant {
  width: 100%;
  height: 30vh;
}

.NearByMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
}
