@import "./src/assets/scss/_variables.scss";
@import "./src/assets/scss/_mixins.scss";

.DrawerToggle {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.Bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  transition: $transition;
}

.Position1 {
  top: 0;
}

.Position2 {
  top: 50%;
  transform: translateY(-50%);
}

.Position3 {
  top: 50%;
  transform: translateY(-50%);
}

.Position4 {
  bottom: 0;
}

.AnimateBar1 {
  transform: scale(0);
}

.AnimateBar2 {
  transform: rotate(-45deg);
}

.AnimateBar3 {
  transform: rotate(45deg);
}

.AnimateBar4 {
  transform: scale(0);
}
