.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 2rem;
    background: white;
    
    p {
        display: flex;
        margin: 0;
        padding: 0;
    }
}
