@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 2rem;
    background: white;
    
    p {
        margin: 0;
        padding: 0.6rem 0;
    }

    nav {
        display: none;

        @include media-min-width($desktop-width) {
            display: flex;
        }
    }
}
