@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: $padding-default * 2;
    background: white;
    
    p {
        margin: 0;
        padding: $padding-tiny * 3 0;
    }

    nav {
        display: none;

        @include media-min-width($desktop-width) {
            display: flex;
        }
    }
}

#Logo {
    display: inline-block;
    margin: 0;
    padding: $padding-tiny * 3 0;
    text-align: left;

    a {
        display: inline-block;
        background: none;
        padding: 0;
        border: none;
        text-decoration: none;
        box-shadow: none;
        font-weight: 500;
        &:hover {
            color: gray;
            transition: $transition-default;
        }
    }
}
