@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33vh;
    background: $main-color;
    color: black;
    font-size: $font-size-default * 3;
    font-weight: bold;

    h1 {
        margin: 0 $margin-default;
    }

    @include media-min-width($desktop-width / 1.5) {
        flex-direction: row;
    }
}
