@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 20rem;
  background: $md-white;
  padding: $padding;
  border-radius: $border-radius-button;
  box-shadow: $box-shadow;
  transform: translateY(-25%) translateX(-50%);
}

.OpenModal {
  opacity: 1;
  z-index: 2;
  transition: opacity $transition2, transform $transition2;
  transform: translateY(-50%) translateX(-50%);
}

.CloseModal {
  opacity: 0;
  z-index: -100;
  transition: opacity $transition2, transform $transition2,
    z-index 0s $transition-duration2;
}

.ModalButton {
  height: 3rem;
}
