@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Backdrop {
    display: inline-block;
    background: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.OpenBackdrop {
    z-index: 1001;
    opacity: 0.5;
    transition: opacity $transition;
}

.CloseBackdrop {
    opacity: 0;
    z-index: -100;
    transition: opacity $transition, z-index 0s $transition-duration;
}
