@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.NavigationItem {
    display: inline-block;
    width: 80vw;
    margin-bottom: $margin-default;
    text-align: center;

    a {
        display: block;
        background: white;
        color: black;
        padding: $padding-tiny * 2 $padding-default;
        border: 1px solid gray;
        border-radius: $border-radius-default;
        text-decoration: none;
        box-shadow: $box-shadow-default;
        font-weight: 500;
        &:hover {
            background: black;
            color: white;
            transition: $transition-default;
        }
    }
    

    @include media-min-width($desktop-width) {
        margin-bottom: 0;
        margin-left: 2rem;
        width: auto;
    }
}
