.NavigationItem {
    margin: 0 50px 0 0;
    list-style: none;
    display: inline-block;
}

.NavigationItem a {
    background: rgb(255, 208, 200);
    color: black;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
    display: block;
}

.NavigationItem a:hover {
    background: rgb(163, 124, 117);
    color: white;
    transition: 250ms;
}
