@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.SideDrawer {
    display: flex;
    justify-content: center;
    width: 100vw;
    background: white;

    @include media-min-width($desktop-width) {
        display: none;
    }
}
