@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: $padding-default * 2;
    background: white;

    nav {
        display: none;

        @include media-min-width($desktop-width) {
            display: flex;
        }
    }

    @include media-min-width($desktop-width) {
        justify-content: space-around;
    }
}

.SideDrawerToggleContainer {
    min-height: $height-default * 1.2;
    height: $height-default * 1.2;
    min-width: $width-default * 1.7;
    width: $width-default * 1.7;
    margin-left: $margin-default * 2;

    
    @include media-min-width($desktop-width) {
        display: none;
    }
}
