@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: $border-radius-button;
  box-shadow: $box-shadow;
  transition: $transition1;
  appearance: none;
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background: #ccc;
  }
}

.Bold {
  font-weight: bold;
}

.FlexStart {
  justify-content: flex-start;
}

.Small {
  padding: $padding-tiny $padding / 2;
}

.PlaceholderLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.Circle {
  border-radius: 50%;
}

.Clear {
  background: transparent;
  color: $md-black;
  box-shadow: none;
}

.ClearTouchHover {
  transition: none;
  background: transparentize($md-black, 0.93);
}

.ClearMouseHover {
  background: transparentize($md-black, 0.93);
}

.Translucent {
  background: rgba(0, 0, 0, 0.3);
  color: $md-white;
}

.TranslucentTouchHover {
  transition: none;
  background: rgba(0, 0, 0, 0.6);
}

.TranslucentMouseHover {
  background: rgba(0, 0, 0, 0.6);
}

.Main {
  background: $main-color;
  color: $md-black;
}

.MainTouchHover {
  transition: none;
  background: $dark-main-color;
}

.MainMouseHover {
  background: $dark-main-color;
}

.Adj {
  background: $adj-color;

  &:hover {
    background: $dark-adj-color;
  }
}

.Opp {
  background: $opp-color;
}

.NoShadow {
  box-shadow: none;
}
