@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.User {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $margin;

    p {
        margin: 0;
        padding: $padding * 2;
        font-size: $font-size * 2;
    }

    .PictureContainer {
        margin: $margin / 2;
    }

    .Name {
        font-size: $font-size * 2;
        margin: $margin / 2;
    }

    .Email {
        margin: $margin / 2;
    }
    
    .Location {
        display: inherit;
        flex-direction: column;
        align-items: center;
        margin: $margin / 2;
    }

    button {
        margin-top: $margin;
    }
}
