@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.User {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $margin-default;

    .PictureContainer {
        margin: $margin-default / 2;
    }

    .Name {
        font-size: $font-size-default * 2;
        margin: $margin-default / 2;
    }

    .Email {
        margin: $margin-default / 2;
    }
    
    .Location {
        display: inherit;
        flex-direction: column;
        align-items: center;
        margin: $margin-default / 2;
    }

    button {
        margin-top: $margin-default;
    }
}
