@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $margin 0;
  font-weight: 600;

  p {
    margin: 0;
    padding: $padding * 2;
    font-size: $font-size * 2;
  }

  .PictureContainer {
    margin: $margin / 3;
  }

  .Name {
    font-size: $font-size * 2;
    margin: $margin / 3;
  }

  .Email {
    margin: $margin / 3;
  }

  .Location {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin: $margin / 3;
  }

  button {
    margin-top: $margin / 3;
  }
}
