@import './src/assets/scss/_variables.scss';

.Fa {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
}

.Bare {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1rem;
  min-width: 1rem;
}
