@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding: $padding;
  transition: $transition1;
  background: $md-white;

  @include media-min-width($desktop-width) {
    padding: $padding * 2 $padding;
  }
}

.Message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  font-size: $font-size * 1.3;

  .GrantButton {
    margin: $margin;
    font-size: $font-size;
    width: 100%;
    max-width: 20rem;
    height: 3rem;
  }
}

.LoaderContainer {
  position: relative;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}

.NearByContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50rem;
  min-height: 100%;
  overflow: hidden;

  .NearBy {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .NearByHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $margin;

    h5,
    p {
      margin: 0;
    }

    .NearByRefresh {
      margin-left: $margin;
      width: $fab-size-mini;
      height: $fab-size-mini;
    }
  }
}

.NearByRestaurant {
  width: 100%;
  height: 30vh;
  margin-bottom: $margin;
}

.NearByMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
}
