@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.SideDrawerToggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    padding: 0.2rem;
    margin-left: $margin-default * 2;
    cursor: pointer;

    @include media-min-width($desktop-width) {
        display: none;
    }
}

.Bar1, .Bar2, .Bar3 {
    width: 2rem;
    height: 0.2rem;
    background-color: #333;
    transition: $transition-default;
}

.AnimateBar1 {
    transform-origin: right;
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.AnimateBar2 {
    opacity: 0;
}

.AnimateBar3 {
    transform-origin: right;
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg);
}
