@import './src/assets/scss/_variables.scss';

.NavItem {
  display: flex;
  align-items: center;
  padding: 0 $padding;
  min-width: 6rem;
  height: 3rem;
  transition: $transition1;
  font-weight: bold;

  div,
  svg {
    margin-right: $margin;
  }
}

.Link {
  color: $md-black;
  min-width: 0;
  height: auto;
  padding: 0;
  margin: 0;

  &:hover {
    color: $md-black;
    text-decoration: none;
  }
}

.LinkTouchHover {
  transition: none;

  &:hover {
    color: $md-black;
    text-decoration: underline;
  }
}

.LinkMouseHover {
  &:hover {
    color: $md-black;
    text-decoration: underline;
  }
}

.Clear {
  color: $md-black;

  &:hover {
    color: $md-black;
    text-decoration: none;
  }
}

.ClearTouchHover {
  transition: none;
  background: transparentize($md-black, 0.93);
}

.ClearMouseHover {
  background: transparentize($md-black, 0.93);
}

.BorderMain {
  border: 1px solid $md-black;
}
