@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.NavItem {
  display: flex;
  align-items: center;
  padding: $padding-tiny $padding;
  margin-bottom: $margin / 2;
  min-width: 6rem;
  height: 3rem;
  border-radius: $border-radius-button;
  transition: $transition1;
  font-weight: bold;

  div {
    margin-right: $margin;
  }
}

.Link {
  color: $md-black;
  min-width: 0;
  height: auto;
  padding: 0;
  margin: 0;

  &:hover {
    color: $md-black;
    text-decoration: none;
  }
}

.LinkTouchHover {
  transition: none;

  &:hover {
    color: $md-black;
    text-decoration: underline;
  }
}

.LinkMouseHover {
  &:hover {
    color: $md-black;
    text-decoration: underline;
  }
}

.Main {
  color: $md-black;

  &:hover {
    color: $md-black;
    text-decoration: none;
  }
}

.MainTouchHover {
  transition: none;
  background: $dark-main-color;
}

.MainMouseHover {
  background: $dark-main-color;
}

.BorderMain {
  border: 1px solid $darker-main-color;
}
