@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  height: 4rem;
  background: $md-white;
  padding: $padding / 2;
  border-radius: $border-radius-button / 2;
  transition: $transition2;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);

  form {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;

    .SearchInputs {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

.HideSearchBar {
  transform: translateX(-50%) translateY(100%);
  transition: $transition2;
}

.ExtendSearchBar {
  height: 7.5rem;
}

.SearchBarBoxShadow {
  box-shadow: $box-shadow-top;
}

.SearchButton {
  width: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  height: 3rem;
  margin-left: $margin / 2;
  transition: $transition2;
}

.ExtendSearchButton {
  height: 6.5rem;
}

.FoodInputContainer,
.LocationInputContainer {
  position: absolute;
  bottom: 3.5rem;
  left: 0;
  width: 100%;
  transition: $transition2;
  transform: translateY(3.5rem);
}

.FoodInputContainer {
  z-index: 1;
}

.LocationInputContainer {
  opacity: 0;
}

.SlideYFoodInput {
  transform: translateY(0);
}

.Show {
  opacity: 1;
}
