@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin;
  color: $md-black;

  p {
    margin: 0;
  }

  .Vote {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }

    .Thumb {
      width: $fab-size-mini;
      height: $fab-size-mini;

      &:first-of-type {
        margin-right: $margin;
      }
    }
  }
}
