@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $margin-default 0;
    min-height: 33.3vh;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        max-width: $width-default * 30;

        input {
            outline: none;
            padding: $padding-default / 2;
            margin-bottom: $margin-default;
            border: $border-default-input;
            border-radius: $border-radius-default / 2;
            width: 100%;

            &:hover {
                border-color: gray;
                box-shadow: $box-shadow-default;
            }

            &:focus {
                border-color: gray;
                box-shadow: $box-shadow-default;
            }
        }

        button {
            appearance: none;
            background: white;
            padding: $padding-default $padding-default;
            border: $border-default-button;
            border-radius: $border-radius-default;
            box-shadow: $box-shadow-default;
            margin-bottom: $margin-default;
            width: 100%;
            transition: $transition-default;
            font-weight: 600;

            &:hover {
                background: black;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.Switch {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: $margin-default 0;
    width: 80vw;
    max-width: $width-default * 20;

    p {
        text-align: center;
        margin: 0;
    }

    #LogIn {
        margin: 0;
        width: auto;
    
        a {
            background: white;
            color: black;
            padding: 0;
            border: none;
            text-decoration: none;
            box-shadow: none;
            font-weight: 600;
            transition: $transition-default;
    
            &:hover {
                color: gray;
            }
        }
    }
}

.Message {
    margin: 0;
    padding: $padding-default * 2;
    font-size: $font-size-default * 2;
    text-align: center;
}
