@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4rem;
  left: 50%;
  width: 100%;
  max-width: 30rem;
  background: $md-white;
  transition: $transition2;
  transform: translateX(-50%) translateY(255%);
  padding: $padding / 2;
  box-shadow: $box-shadow-top;

  p {
    margin: 0;
  }
}

.SlideYFilters {
  transform: translateX(-50%) translateY(0);
}

.LiftFilters {
  transform: translateX(-50%) translateY(-3.5rem);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: $margin;

  .FiltersApplyContainer {
    font-size: $font-size / 1.2;
  }
}
