@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.UserInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $margin-default;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        max-width: $width-default * 30;

        input {
            margin-bottom: $margin-default;
        }

        button {
            margin-top: 0;
        }
    }

    button {
        margin: $margin-default 0;
    }
}
