@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';

.Restaurants {
    display: flex;
    justify-content: center;
}

.RestaurantsGrid {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 30vw;
    grid-gap: 1px;

    @include media-min-width($desktop-width) {
        width: 66vw;
        grid-auto-rows: 22vw;
    }
}

.RestaurantsGridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/placeholders/restaurantFood.jpeg');
    color: white;
    font-weight: bold;
    font-size: 1.5rem;

    &:hover {
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.5);
        transition: $transition-default;
    }
}
