@import './src/assets/scss/_variables.scss';
@import './src/assets/scss/_mixins.scss';
@import './src/assets/scss/_classes.scss';

.Restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.GridContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translateX(100%);
  transition: $transition1;
  background: $md-white;
}

.SlideIn {
  transform: translateX(0);
}

.RestaurantsGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 50vw;
  grid-gap: 2px;

  @include media-min-width($desktop-width) {
    grid-template-columns: repeat(3, 33.3%);
    width: 66.6%;
    grid-auto-rows: 22.2vw;
  }
}

.Message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: $margin;
  font-size: $font-size * 1.3;

  .GrantButton {
    margin: $margin;
    font-size: $font-size;
    width: 4.5rem;
    height: 2.5rem;
  }
}

.LoaderContainer {
  width: 4rem;
  height: 4rem;
  margin-bottom: $margin * 6;
}

.ToggleGridButton {
  position: fixed;
  top: $header-height;
  right: $margin;
  transform: translateY(-50%) translateX($margin + $fab-size-mini);
  z-index: 1;
  transition: $transition1;
  width: $fab-size-mini;
  height: $fab-size-mini;

  @include media-min-width($desktop-width) {
    right: $margin * 2;
    transform: translateY(-50%) translateX($margin * 2 + $fab-size-mini);
  }
}

.Show {
  transform: translateY(-50%) translateX(0);
}

.Rotate {
  transform: translateY(-50%) translateX(0) rotateZ(180deg);
}
